.indexThumbnail {
    width:64px;
    height:64px;
}

#logo {
    height:100px;
}

.btn-header {
    margin-top: 22px;
    margin-bottom: 0px;
}

/*Set the background logo to topright or topleft*/
html.img-topright div.slide-background.present {
    background-position: top right;
}

html.img-topleft div.slide-background.present {
    background-position: top left;
}

#revealLogo {
    background-image: url(/img/nrg-logo-transp.png);
    background-repeat: no-repeat;
    backgorund-position: top left;
    background-size: 100px;
}

.error-list {
    list-style-type: none;
}

.reveal p {
    font-size: 0.9em;
}